<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../nav-menu.css">
    <title>Home</title>
</head>
<body>
    <ul>
        <li>
            <!--The home page link-->
          <a href="#" >Home</a> 
        </li>
        <li>
            <!--The create account page link-->
          <a href="../Create-Account/Create-account.html" >Create account</a> 
        </li>
        <li>
            <!--The login page link-->
          <a href="#" >Login</a> 
        </li>
        <li>
            <!--The service page link-->
          <a href="#" >Services</a> 
        </li>
        <li>
            <!--The about page link-->
          <a href="#" >About</a> 
        </li>
    </ul>
    <!--The body of the website-->
    <div class="fixed-top">
        <h1>The opening heading</h1>
        <form action="/process_input" class="form-python" method="post">
            <label for="user_input">Enter an input</label><br>
            <input type="text" id="user_input" name="user_input"><br>
            <input type="submit" value="submit">
        </form>
    </div>
</body>
</html>